<%= simple_form_for [@vehicle, @maintenance] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date, as: :string, input_html: { class: "datepicker", value:  f.object.date ? f.object.date.strftime('%d/%m/%Y') : Date.today.strftime('%d/%m/%Y') } %>
    <%= f.input :cost %>
    <%= f.input :description %>
    <%= f.input :warranty, as: :string, input_html: { class: "datepicker", value:  f.object.warranty ? f.object.warranty.strftime('%d/%m/%Y') : Date.today.strftime('%d/%m/%Y') } %>
    <%= f.input :mileage %>
    <%= f.input :maintenance_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
$('.datepicker').datepicker({format: 'dd/mm/yyyy'});
</script>
