<div class="page-header">
  <%= link_to vehicle_maintenances_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to vehicle_maintenance_path(@vehicle, @maintenance), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-remove-sign"></span>
    Delete
  <% end %>
  <%= link_to edit_vehicle_maintenance_path(@vehicle, @maintenance), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <%#= link_to 'Destroy', vehicle_maintenance, method: :delete, data: { confirm: 'Are you sure?' } %>
  <h1>Show maintenance</h1>
</div>

<dl class="dl-horizontal">
  <dt>Date:</dt>
  <dd><%= @maintenance.date.strftime("%d/%m/%Y") %></dd>

  <dt>Cost:</dt>
  <dd><%= @maintenance.cost %></dd>

  <dt>Warranty:</dt>
  <dd><%= @maintenance.warranty.strftime("%d/%m/%Y") %></dd>

  <dt>Mileage:</dt>
  <dd><%= @maintenance.mileage %></dd>

  <dt>Warranty status:</dt>
  <dd><% if (@maintenance.warranty - Time.now) > 0 %>
       <font color="green"><b> <%= distance_of_time_in_words(@maintenance.warranty, Time.now) %>  available <i class="fa fa-check-circle fa-lg"> </i></b></font>
      <% else %>
       <font color="red"><b><%= distance_of_time_in_words(@maintenance.warranty, Time.now) %>  expired <i class="fa fa-ban fa-lg"> </i></b></font>
      <% end %>
  </dd>

  <dt>Type:</dt>
  <dd><%= @maintenance.maintenance_type.value %></dd>


  <dt>Description:</dt>
  <dd><%= @maintenance.description %></dd>

</dl>


<h3>Documents
</h3>
<h4 class="progress" style="display: none">Fazendo upload <span class="progress_count"></span>% concluido</h4>
<%= form_with model: [@vehicle, @maintenance], url: vehicle_maintenance_file_uploads_path(@vehicle, @maintenance),
              method: :post, id: "upload_file", local: true do |f| %>
  <%= f.file_field :files, multiple: true, direct_upload: true %><br />
  <%= f.submit 'Clique para fazer upload' %>
<% end %>
<br>
<div class="row">
  <% @maintenance.files.each do |document| %>
    <div class="col-xs-6 col-md-2">
      <a href="<%= url_for(document) %>" target="_blank" class="thumbnail" style="min-height:150px;height:150px;">
        <img src="<%= url_for(document.variant(resize: "155x140")) %>" alt="<%= document.filename  %>">
      </a>
      <div class="actions" style="text-align:center">
        <%= link_to "Remove", vehicle_maintenance_file_upload_path(@vehicle, @maintenance, document), method: :delete, data: { confirm: "Tem certeza?" }, class: 'btn btn-danger' %>
      </div>
      <br>
    </div>
  <% end %>
</div>
