<div class="page-header">
  <%= link_to vehicle_maintenances_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_vehicle_maintenance_path(@vehicle, @maintenance), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <%#= link_to 'Destroy', vehicle_maintenance, method: :delete, data: { confirm: 'Are you sure?' } %>
  <h1>Show maintenance</h1>
</div>

<dl class="dl-horizontal">
  <dt>Date:</dt>
  <dd><%= @maintenance.date.strftime("%d/%m/%Y") %></dd>

  <dt>Cost:</dt>
  <dd><%= @maintenance.cost %></dd>

  <dt>Warranty:</dt>
  <dd><%= @maintenance.warranty.strftime("%d/%m/%Y") %></dd>

  <dt>Mileage:</dt>
  <dd><%= @maintenance.mileage %></dd>

  <dt>Warranty status:</dt>
  <dd><%= @maintenance.warranty_status %></dd>

  <dt>Type:</dt>
  <dd><%= @maintenance.type %></dd>


  <dt>Description:</dt>
  <dd><%= @maintenance.description %></dd>

</dl>


<h3>Documents
</h3>
<%= simple_form_for [@vehicle, @maintenance, Document.new], url: vehicle_maintenance_documents_path(@vehicle, @maintenance), :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :file %>
  </div>
<% end %>

<br>


<div class="row">
  <% @documents.each do |document| %>
    <div class="col-xs-6 col-md-2">
      <a href="<%= document.file_url %>" target="_blank" class="thumbnail" style="min-height:150px;height:150px;">
        <img src="<%= document.file_url %>" alt="<%= document.file_identifier  %>">
      </a>
      <div class="actions" style="text-align:center">
        <%= link_to "Remove", vehicle_maintenance_document_path(@vehicle, @maintenance, document), data: { confirm: 'Are you sure?'} , :method => :delete, class: 'btn btn-danger' %>
      </div>
      <br>
    </div>
  <% end %>
</div>

<script>
  jQuery(function() {
    return $('#new_document').fileupload();
  });
</script>
