<div class="page-header">
  <%= link_to vehicles_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_vehicle_path(@vehicle), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show vehicle</h1>
</div>

<dl class="dl-horizontal">
  <dt>Brand:</dt>
  <dd><%= @vehicle.brand %></dd>

  <dt>Model:</dt>
  <dd><%= @vehicle.model %></dd>

  <dt>Fabrication:</dt>
  <dd><%= @vehicle.fabrication %></dd>

  <dt>Mileage:</dt>
  <dd><%= @vehicle.mileage %></dd>

  <dt>Status:</dt>
  <dd><%= @vehicle.status %></dd>

  <dt>Numberplate:</dt>
  <dd><%= @vehicle.numberplate %></dd>

  <dt>Slug:</dt>
  <dd><%= @vehicle.slug %></dd>

</dl>
